<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Add Role</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Conent/animate.min.css" rel="stylesheet">
    <link href="~/Conetnt/lightbox.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">
</head>

<body>

    <section id="page-breadcrumb">
        <div class="vertical-center sun">
            <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Add Role</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#page-breadcrumb-->

    <h3>User Name: @ViewBag.UserName</h3>

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-warning">@ViewBag.ErrorMessage</div>
    }

    @using (Html.BeginForm("AddRoleToUser", "Account"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <p>
            Role Name: @Html.DropDownList("RoleName", ViewBag.Roles as SelectList)
        </p>

        @Html.Hidden("userName", ViewBag.UserName as string)

        <input type="submit" value="Save" />
    }
