@model IEnumerable<PLM.Models.EditUserViewModel>
@{
    ViewBag.Title = "Accounts";
}
<div class="shiftleft">
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
            <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Active Accounts</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <p class="floatRight">
        @Html.ActionLink("Create New Account", "Create", new { type = "btn btn-default" })
    </p>
    @using (Html.BeginForm())
    {
        <p>
            Find by name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" class="btn btn-default" />
        </p>
    }
    <p>
        @Html.ActionLink("View Disabled Accounts", "DisabledUsersList", new { @class = "floatRight", type = "button" })
    </p>

</div>
<div class="table  col-lg-12 shiftleft">
        <div class="row trow">
            <div class="col-lg-2 col-md-2 col-sm-2">
                @Html.ActionLink("Username", "Index", new { sortOrder = ViewBag.UsernameSortParam })
            </div>
            <div class="col-lg-1 col-md-1 col-sm-2" >
                @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.NameSortParam })
            </div >
            <div class="col-lg-1 col-md-1 col-sm-2">
                @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LastSortParam })
            </div>
            <div class="col-lg-1 col-md-1 col-sm-2">
                @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusSortParam })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                @Html.ActionLink("Institution", "Index", new { sortOrder = ViewBag.InstitutionSortParam })
            </div>
            
            <div class="col-lg-3 col-md-3 col-sm-2"></div>
        </div>
        @foreach (var item in Model)
        {
            var style = (item.Status != ApplicationUser.AccountStatus.Active) ? "background-color: rgba(239, 141, 198, 0.30)" : "";
            <div style="@style" class="row trow">
                <div class="col-lg-2 col-md-2 col-sm-2 tcell">
                    @Html.DisplayFor(modelItem => item.Email)
                </div>
                <div class="col-lg-1 col-md-1 col-sm-2 tcell">
                    @Html.DisplayFor(modelItem => item.FirstName)
                </div>
                <div class="col-lg-1 col-md-1 col-sm-2 tcell">
                    @Html.DisplayFor(modelItem => item.LastName)
                </div>
                <div class="col-lg-1 col-md-1 col-sm-2 tcell">
                    @Html.DisplayFor(modelItem => item.Status)
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 tcell">
                    @Html.DisplayFor(modelItem => item.Institution)
                </div>
                <div class="col-lg-3 col-md-3 col-sm-2 tcell">
                    @Html.ActionLink("Edit", "Edit", new { userName = item.UserName }) |
                    @Html.ActionLink("Roles", "ViewUserRoles", new { userName = item.UserName })
                    <span >@Html.ActionLink("Change Status", "AccountDisable", new { userName = item.UserName }, new { @class = "btn btn-primary btn-xs" } @*new { type = "button-enter" }*@)</span>
                </div>
            </div>
        }

    @Html.ActionLink("Back to Administration Page", "Admin", "Home")
</div>
