@model PLM.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<script>
    function myFunction() {
        //var str = document.getElementById("text-danger").innerHTML;
        //var res = str.replace("Email Field", "Email");
        //document.getElementById("demo").innerHTML = res;
        //var divs = document.getElementsByClassName('text-danger');
        //var uls = divs[0].getElementsByTagName('ul');
        //var lis = uls[0].getElementsByTagName('li');
        //var li = lis[0];
        var li = document.getElementById("top").firstChild.firstChild.innerHTML;
        var txt = li.replace(/Name \b[A-Z0-9._%+-]+\W[A-Z0-9.-]+\.[A-Z]{2,}\b is already taken./ig, " ");
        document.getElementById("top").firstChild.firstChild.innerHTML = txt;
    }
    $(document).ready(function () {
        $('#check').click(function () {
            if ($(this).attr('checked') == false) {
                $('#btncheck').attr("disabled", "disabled");
            } else {
                $('#btncheck').removeAttr('disabled');
                $('#check').attr("disabled", "disabled");
            }
        });
    });
</script>

<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Register</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    <div class="JavascriptTarget">
        @Html.ValidationSummary("", new { @class = "text-danger", @id = "top"} )
    </div>
    <div class="form-group"  onload="myFunction()">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
    <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
        </div>
    <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
        </div>
    <div class="form-group">
            @Html.LabelFor(m => m.Institution, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Institution, new { @class = "form-control" })
            </div>
        </div>
    <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
    <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="checkbox" name="TermsOfUse" id="check" value="Accepted">I accept the <a target="_blank" href="@Url.Action("TOU", "Home")"> Terms Of Use</a>
            </div>
        </div>
    <div class="form-group" onload="myFunction()">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-submit" id="btncheck" value="Register" disabled="disabled" />
            </div>
        </div>
}
    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    }
