@model PLM.Answer

@{
    ViewBag.Title = "Add Answer";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Add Answer</title>
    <link rel="shortcut icon" href="~/Content/images/ico/favicon.ico">
</head>

<br/>

<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Add Answer</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br />

<h2>@ViewBag.ModuleName</h2>

<br />
<br/>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.AnswerString, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnswerString, new { htmlAttributes = new { @class = "form-control" } })
                <input type="submit" name="submit" value="Add Answer" class="btn btn-success" /><br />
                @Html.ValidationMessageFor(model => model.AnswerString)
            </div>
        </div>
        <hr />
        <div class="form-group hidden">
            @Html.LabelFor(model => model.ModuleID, "ModuleID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ModuleID, new { @Value = ViewBag.ModuleID })
                @Html.ValidationMessageFor(model => model.ModuleID)
            </div>
        </div>
    </div>
}

<br/>
<br />

<div class="form-group clearRight">
    <table class="table ">
        <tr>
            <th>
                Answer
            </th>
            <th>
                Picture Count
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (Answer ans in ViewBag.ModuleAnsList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => ans.AnswerString)

                </td>
                <td>
                    @ans.Pictures.Count()
                </td>
                <td>
                    @Html.ActionLink("Add Picture", "Create", new { controller = "Pictures", id = ans.AnswerID })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { controller = "Answers", id = ans.AnswerID }) |
                    @Html.ActionLink("Delete", "Delete", new { controller = "Answers", id = ans.AnswerID })
                </td>
            </tr>
        }

    </table>
</div>

<br/>
<br/>

<div class="clearLeft floatRight">
    @Html.ActionLink("Done", "Index", new { controller = "Profile" }, new{ type = "button" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
