@model PLM.Answer
@{
    ViewBag.Title = "Answer Details";
}
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Answer Details</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Module.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Module.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnswerString)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnswerString)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnswerID }) |
    @Html.ActionLink("Back to List", "edit", new { controller = "ModulesEdit", id = Model.ModuleID })
</p>