@model PLM.Answer
@{
    ViewBag.Title = "Edit answer";
}
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Edit Answer</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        @Html.ActionLink("Add Picture", "Create", new { Controller = "Pictures", id = Model.AnswerID, ModuleID = Model.ModuleID }, new { type = "button-enter" })
    </div>
    <div class="form-horizontal floatLeft" style="width:100%;">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.AnswerID)
        <div class="form-group">
            @Html.LabelFor(model => model.AnswerString, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnswerString, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AnswerString, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group hidden">
            @Html.LabelFor(model => model.ModuleID, "ModuleID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModuleID, Model.ModuleID)
                @Html.ValidationMessageFor(model => model.ModuleID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" hidden="hidden">
            @Html.LabelFor(model => model.PictureCount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PictureCount, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Pictures, "Pictures", new { @class = "control-label col-md-2" })
            <div class="form-group, scroll-box, col-xs-10 flex">
                @foreach (Picture pic in ViewBag.Pictures)
                {
                    <div class="col-xs-6">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    @Html.Action("PictureView", "Pictures", new { pic = new PLM.Models.GamePicture(pic) })
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                    @Html.ActionLink("Edit Image", "ImageEditor", new { controller = "Pictures", id = pic.PictureID }) |
                                    @Html.ActionLink("Attribution", "Edit", new { controller = "Pictures", id = pic.PictureID }) |
                                    @Html.ActionLink("Delete", "Delete", new { controller = "Pictures", id = pic.PictureID })
                            </div>
                        </div>
                    </div>

                }                     
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="clearLeft floatRight col-lg-2">
                <input type="submit" value="Save" class="btn btn-submit" />
            </div>
        </div>
    </div>
}
<script data-preload="true" data-path="@Url.Content("~/pixie-image-editor/pixie")" src="@Url.Content("~/pixie-image-editor/pixie/pixie-integrate.js")"></script>
<script>
    //function saveAll() {
    //    $.ajax({
    //        type: "POST",
    //        url: '/ImageEditor/Save',
    //        data: { willSave: "True" },
    //        success: function (response) {
    //            alert('Images saved successfully!');
    //        },
    //        error: function (xhr, status, text) {
    //            alert(text);
    //        }
    //    });
    //}

    //function discardChanges() {
    //    $.ajax({
    //        type: "POST",
    //        url: '/ImageEditor/Save',
    //        data: { willSave: "False" },
    //        success: function (response) {
    //            alert('Changes Discarded');
    //        },
    //        error: function (xhr, status, text) {
    //            alert(text);
    //        }
    //    });
    //}
    var myPixie = Pixie.setOptions({
        replaceOriginal: true,
        appendTo: 'body',
        onSave: function (data, img) {
            $.ajax({
                type: 'POST',
                url: '/ImageEditor/ImageEditor',
                data: { imgData: data },
                success: function (response) {
                    alert('Image changes have been saved successfully. \nRemember to ' +
                    'click the save button to finalize your changes.');
                },
                error: function (xhr, status, text) {
                    alert(text);
                    myPixie.close();
                }
            });
        }
    });
    $('#imgEdit').on('click', function (e) {
        myPixie.open({
            url: e.target.src,
            image: e.target
        });
    });
</script>