@model PLM.Answer
@{
    ViewBag.Title = "Edit answer";
    int defaultPictureCount = 0;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Edit Answer</title>
    <link rel="shortcut icon" href="~/Content/images/ico/favicon.ico">
</head>

<br />

<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Edit Answer</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="floatRight">
        @Html.ActionLink("Add Picture", "Create", new { Controller = "Pictures", id = Model.AnswerID, ModuleID = Model.ModuleID }, new { type = "button" })
    </div>

    <div class="form-horizontal floatLeft" style="width:100%;">
        @*<div style="text-align:right; float:right">
            <a href="http://plmeditor.azurewebsites.net" target="_blank">Edit an image to upload.</a>
        </div>*@


        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.AnswerID)
        <div class="form-group">
            @Html.LabelFor(model => model.AnswerString, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnswerString, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AnswerString, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group hidden">
            @Html.LabelFor(model => model.ModuleID, "ModuleID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModuleID, Model.ModuleID)
                @Html.ValidationMessageFor(model => model.ModuleID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden="hidden">
            @Html.LabelFor(model => model.PictureCount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => defaultPictureCount, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pictures, "Pictures", new { @class = "control-label col-md-2" })

            <div class="form-group, scroll-box, col-md-10">
                @foreach (Picture pic in Model.Pictures)
                {
                    <div class="col-xs-6 col-sm-6 col-md-4 portfolio-item branded logos">
                        <div class="portfolio-wrapper defaultHeight">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb img-hover">
                                    <img onerror="this.src = '/PerceptualLearning/Content/images/Error.bmp';" src="@pic.Location" id="@pic.PictureID" title="@pic.AnswerID" class="img-responsive moduleImage" alt="Answer Image">
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <div class="halfPanel">
                                    @Html.ActionLink("Edit Image", "ImageEditor", new { controller = "Pictures", id = pic.PictureID }, new { type = "button-square" })
                                </div>
                                <div class="halfPanel">
                                    @Html.ActionLink("Attribution", "Edit", new { controller = "Pictures", id = pic.PictureID }, new { type = "button-square" })
                                </div>
                                <div class="halfPanel">
                                    @Html.ActionLink("Delete", "Delete", new { controller = "Pictures", id = pic.PictureID }, new { type = "button-square" })
                                </div>
                                @*<h2><a href="@Url.Action("Edit", "Pictures",new { Controller = "Pictures", id = pic.PictureID})">Attribution</a></h2>
                                    <a href="@Url.Action("Delete", "Pictures",new { Controller = "Pictures", id = pic.PictureID})"></a>*@
                            </div>
                        </div>
                    </div>
                    @*<a href="@Url.Action("Delete", "Pictures",new { Controller = "Pictures", id = pic.PictureID})">*@
                    @*<img onerror="this.src='C:/PerceptualLearning/Content/images/Error.bmp';" src="@pic.Location" alt="Answer Image" class="img-thumbnail" width="225" />*@
                }
                                     
            </div>
        </div>

        <br />
        <div class="form-group">
            <div class="clearLeft floatRight">
                <input type="submit" value="Save and Return" class="btn btn-submit" />
            </div>
        </div>
    </div>
}

<script data-preload="true" data-path="@Url.Content("~/pixie-image-editor/pixie")" src="@Url.Content("~/pixie-image-editor/pixie/pixie-integrate.js")"></script>

<script>
    //function saveAll() {
    //    $.ajax({
    //        type: "POST",
    //        url: '/ImageEditor/Save',
    //        data: { willSave: "True" },
    //        success: function (response) {
    //            alert('Images saved successfully!');
    //        },
    //        error: function (xhr, status, text) {
    //            alert(text);
    //        }
    //    });
    //}

    //function discardChanges() {
    //    $.ajax({
    //        type: "POST",
    //        url: '/ImageEditor/Save',
    //        data: { willSave: "False" },
    //        success: function (response) {
    //            alert('Changes Discarded');
    //        },
    //        error: function (xhr, status, text) {
    //            alert(text);
    //        }
    //    });
    //}

    var myPixie = Pixie.setOptions({
        replaceOriginal: true,
        appendTo: 'body',
        onSave: function (data, img) {
            $.ajax({
                type: 'POST',
                url: '/ImageEditor/ImageEditor',
                data: { imgData: data },
                success: function (response) {
                    alert('Image changes have been saved successfully. \nRemember to ' +
                    'click the save button to finalize your changes.');
                },
                error: function (xhr, status, text) {
                    alert(text);
                    myPixie.close();
                }
            });
        }
    });

    $('#imgEdit').on('click', function (e) {
        myPixie.open({
            url: e.target.src,
            image: e.target
        });
    });
</script>


@*<div style="text-align:right; float:right">
    <a href="http://plmeditor.azurewebsites.net" target="_blank">Edit an image to upload.</a>
</div>*@
@*<div class="clearLeft floatRight">
    @Html.ActionLink("Done", "Index", new { controller = "Profile" }, new { type = "button" })
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}