@model IEnumerable<PLM.Answer>

@{
    ViewBag.Title = "Index";
}

<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">@ViewBag.Title</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Module.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerString)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Module.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerString)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AnswerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AnswerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AnswerID })
        </td>
    </tr>
}

</table>
