@model IEnumerable<PLM.Models.Report>
@{
    ViewBag.Title = "Reports";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Reports</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Conent/animate.min.css" rel="stylesheet">
    <link href="~/Conetnt/lightbox.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">
</head>
<body>
    <br />
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
            <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Reports Administration</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.moduleID)
            </th>
            <th width="400px" style="overflow:hidden">
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.moduleID)
                </td>
                <td width="500px" style="overflow:hidden">
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.userID)
                    @*@{
                    string Username = db.Users.Where(x => x.Id == item.userID);
                    @ViewBag.username = Username;
                    }
                    <p>@ViewBag.username</p>*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @*@Html.ActionLink("Details", "Details", new { id = item.ID }) |*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
    @Html.ActionLink("Back to Administration Page", "Admin", "Home")
</body>