@model PLM.Module
@{
    ViewBag.Title = " Picture Index";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Module Details</title>
    <link rel="shortcut icon" href="~/Content/images/ico/favicon.ico">
</head>
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Module Details</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ModuleID }) |
    @Html.ActionLink("Back to List", "Index", new { controller = "Profile" })
</p>
