@model IEnumerable<PLM.Module>
@{
    ViewBag.Title = "All modules";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Modules</title>
    <link rel="shortcut icon" href="~/Content/images/ico/favicon.ico">
</head>

<body>
    <br/>
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
            <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Modules Administration</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#page-breadcrumb-->


    @using (Html.BeginForm())
    {
        <p>
            Find by Module Name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
    @*@using (Html.BeginForm())
    {
        <p>
            Find by Username: @Html.TextBox("UserSearchString")
            <input type="submit" value="Search" />
        </p>
    }*@
    @*@using (Html.BeginForm())
    {
        <p>
            Find Profanity: <input type="submit" value="Search" />
        </p>
    }*@
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParam })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ModuleID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ModuleID })
                </td>
            </tr>
        }

    </table>
    @Html.ActionLink("Back to Administration Page", "Admin", "Home")
</body>