@model PLM.Models.ConfirmViewModel
@{
    ViewBag.Title = "Confirm";
}
<h2>Confirm</h2>
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Confirm</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="col-xs-6 col-sm-6 col-md-4 portfolio-item branded logos">
    <div class="portfolio-wrapper defaultHeight">
        <div class="portfolio-single">
            <div class="portfolio-thumb img-hover">
                <figure>
                    @{ 
                        PLM.Models.GamePicture Opicture = new PLM.Models.GamePicture();
                        Opicture.PictureData = Model.originalBase64ImgData;
                    }
                    @Html.Action("PictureView", "Pictures", new { pic = Opicture });
                    <figcaption>Original Image</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-4 portfolio-item branded logos">
    <div class="portfolio-wrapper defaultHeight">
        <div class="portfolio-single">
            <div class="portfolio-thumb img-hover">
                <figure>
                    @{
                        PLM.Models.GamePicture Npicture = new PLM.Models.GamePicture();
                        Npicture.PictureData = Model.Base64ImgData;
                    }
                    @Html.Action("PictureView", "Pictures", new { pic = Npicture });
                    <figcaption>New Image</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
<p>Are these changes OK? You won't be able to undo these changes any further.</p>
@using (Html.BeginForm("Save", "Pictures", FormMethod.Post))
{
    <input type="text" name="originalImgData" value="@Model.originalBase64ImgData" hidden="hidden" />
    <input type="text" name="newImgData" value="@Model.Base64ImgData" hidden="hidden" />
    <input type="number" name="answerID" value="@Model.answerID" hidden="hidden" />
    <input type="number" name="imageID" value="@Model.imageID" hidden="hidden" />
    <input class="btn btn-primary" type="submit" style="background-color:green" value="Save" />
}
@using (Html.BeginForm("Discard", "Pictures", FormMethod.Post))
{
    <input type="text" name="newImgData" value="@Model.Base64ImgData" hidden="hidden" />
    <input type="number" name="answerID" value="@Model.answerID" hidden="hidden" />
    <input class="btn btn-primary" style="background-color:red" type="submit" value="Discard" />
}