@model PLM.Models.ConfirmViewModel
@{
    ViewBag.Title = "Confirm";
}
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Confirm</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="col-xs-6 col-sm-6 col-md-4 portfolio-item branded logos">
    <div class="portfolio-wrapper defaultHeight">
        <div class="portfolio-single">
            <div class="portfolio-thumb img-hover">
                <figure>
                    <img src="@Url.Content(Model.originalUrl)" alt="Original Image" />
                    <figcaption>Original Image</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-4 portfolio-item branded logos">
    <div class="portfolio-wrapper defaultHeight">
        <div class="portfolio-single">
            <div class="portfolio-thumb img-hover">
                <figure>
                    <img src="@Model.Base64ImgData" alt="New Image" />
                    <figcaption>New Image</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
<p>Are these changes OK? You won't be able to undo these changes any further.</p>
@using (Html.BeginForm("Save", "Pictures", FormMethod.Post))
{
    <input type="text" name="origUrl" value="@Html.Encode(Model.originalUrl)" hidden="hidden" />
    <input type="text" name="tempUrl" value="@Html.Encode(Model.tempUrl)" hidden="hidden" />
    <input type="number" name="answerID" value="@Model.answerID" hidden="hidden" />
    <input class="btn btn-primary" type="submit" style="background-color:green" value="Save" />
}

@using (Html.BeginForm("Discard", "Pictures", FormMethod.Post))
{
    <input type="text" name="tempUrl" value="@Html.Encode(Model.tempUrl)" hidden="hidden" />
    <input type="number" name="answerID" value="@Model.answerID" hidden="hidden" />
    <input class="btn btn-primary" style="background-color:red" type="submit" value="Discard" />
}