@model PLM.Picture
@{
    ViewBag.Title = "Add Picture";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Add Picture</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/animate.min.css" rel="stylesheet">
    <link href="~/Conetnt/lightbox.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="~/Content/images/ico/favicon.ico">
</head>

<br/>

<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Add Picture</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br />
<br />
<br />

<div class="jumbotron">
    <form action="~/Pictures/Create?id=@ViewBag.AnswerID" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm" style="width: 50px; background: none; border: none;" >
        @Html.AntiForgeryToken()

        @*<input type="text" name="attribution"/>*@

        

        <div class="fallback">
            <input name="file" type="file" multiple /> 
            <br/>

            <div class="form-group" title="Attribution is needed to give credit to the original creator of the image">
                @Html.LabelFor(model => model.Attribution, "Attribution", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Attribution, new { rows = "5", cols = "250" })
                    @Html.ValidationMessageFor(model => model.Attribution)
                </div>
            </div>

            <br/>
            <br/>
            <br/>
            <input type="submit" value="Upload" class="btn btn-success"/>
        </div>

    </form>
</div>


<div>
    @Html.ActionLink("Back to List", "Index", new { controller = "Profile" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
