@model PLM.Picture
@{
    ViewBag.Title = "Add Picture";
}
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Add Picture</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<div class="jumbotron">
    <form action="~/Pictures/Create?id=@ViewBag.AnswerID" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm" style="background: none; border: none;" >
        @Html.AntiForgeryToken()
        <div class="fallback">
            <input name="file" type="file"/> 
            <br />
            @Html.ActionLink("Sources for free use images", "FreeUseImages", "Home")
            <div class="form-group" title="Attribution is needed to give credit to the original creator of the image">
                @Html.LabelFor(model => model.Attribution, "Attribution", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Attribution, new { rows = "20", cols = "500" })
                    @Html.ValidationMessageFor(model => model.Attribution, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <br />
            <br />
            <input type="submit" value="Upload" class="btn btn-success"/>
        </div>
    </form>
</div>
<div>
    @Html.ActionLink("Back to List", "Create", "Answers", new { id = ViewBag.ModuleID }, null)
</div>