@model PLM.Picture
@{
    ViewBag.Title = " Picture Details";
}
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Picture Details</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Answer.AnswerString)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Answer.AnswerString)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PictureID }) |
    @Html.ActionLink("Back to List", "edit", new { controller = "Answers", id = Model.AnswerID });
</p>