@model PLM.Picture
@{
    ViewBag.Title = "Edit Picture";
}
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Edit Picture</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group hidden">
            @Html.HiddenFor(model => model.PictureID)
            @Html.HiddenFor(model => model.AnswerID)
            @Html.HiddenFor(model => model.PictureData)
        </div>
        <div>
            @Html.Action("EditPictureView", "Pictures", new { pic = Model.PictureID })
        </div>
        <div class="form-group">
            <div class="col-xs-10">
                @Html.LabelFor(model => model.Attribution, "Attribution", new { @class = "control-label col-xs-2" })
                @Html.TextAreaFor(model => model.Attribution, new { rows = "5", cols = "25" })
                @Html.ValidationMessageFor(model => model.Attribution, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="clearLeft floatRight">
            <input type="submit" value="Save" class="btn btn-submit" />
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "edit", new { controller = "Answers", id = Model.AnswerID })
</div>