@model PLM.Picture
@{
    ViewBag.Title = "Edit Picture";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Edit Picture</title>
    <link rel="shortcut icon" href="~/Content/images/ico/favicon.ico">
</head>
<br />
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Edit Picture</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.PictureID)
        <div class="form-group hidden">
            @Html.LabelFor(model => model.Location, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Location)
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group hidden">
            @Html.LabelFor(model => model.AnswerID, "AnswerID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AnswerID", String.Empty)
                @Html.ValidationMessageFor(model => model.AnswerID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-offset-1">
            <img onerror="this.src = 'Content/images/Error.bmp';" src="@Model.Location" class="img-responsive moduleImage img-hover" alt="Answer Image">
        </div>
        <br />
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Attribution, "Attribution", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Attribution, new { rows = "5", cols = "25" })
                @Html.ValidationMessageFor(model => model.Attribution, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="clearLeft floatRight">
                <input type="submit" value="Save" class="btn btn-submit" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "edit", new { controller = "Answers", id = Model.AnswerID })
</div>