@model PLM.Models.PictureToView

<div>
    <h4>PictureToView</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PictureData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attribution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attribution)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PictureID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
